<h1>ChatBot</h1>
<p>Home</p>


<% if current_user %>
<%= link_to "New Chat" %>
    <%= button_to "Logout", destroy_user_session_path, method: :delete%>
<% else %>
    <%= link_to "Login", new_user_session_path%>
    <%= link_to "SignUp", new_user_registration_path%>
<% end %>